@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --teal: #09a7a1;
  --orange: #ff8000;
  --raspbarry: #ff007a;
  --neon-pink: #ff14bd;
  --cream-brown: #31202b;
  --cyan: #00ffff;
  --midnight-voilet: #1f242d;
  --groung-green: #07252d;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
#root{
    margin: 0px;
}