.experience {
	&__row {
		display: flex;
		justify-content: center;

		&__img {
			box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
				rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
				rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
			border-radius: 20px;
			width: 500px;

			@media only screen and (max-width: 550px) {
				width: 400px;
			}
			@media only screen and (max-width: 420px) {
				width: 250px;
			}
		}
	}
}
